<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.docta.myapplication">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AutentificareProfesorActivitate" />
        <activity android:name=".CumparaAvatareActivitate" />
        <activity android:name=".ClasamentElevActivitate" />
        <activity android:name=".ClasamentProfesorActivitate" />
        <activity android:name=".ContElevActivitate" />
        <activity android:name=".CreareContElevActivitate" />
        <activity android:name=".IntrebareaZileiActivitate" />
        <activity android:name=".IntrebariActivitate" />
        <activity android:name=".InvatamCategorieActivitate" />
        <activity android:name=".ListaEleviActivitate" />
        <activity android:name=".PaginaPrincipalaJocActivitate" />
        <activity android:name=".PareriActivitate" />
        <activity android:name=".RezultatActivitate" />
        <activity android:name=".SaInvatamActivitate" />
        <activity android:name=".SaNeJucamActivitate" />
        <activity android:name=".SetariActivitate" />
        <activity android:name=".SetariDesignActivitate" />
        <activity android:name=".SetariElevActivitate" />
        <activity android:name=".AjutorActivitate" />
        <activity android:name=".AvatareleMeleActivitate" />
        <activity android:name=".SarciniActivitate" />
        <activity android:name=".SarciniAdaugareActivitate" />
        <activity android:name=".PrincipalaActivitate" />

        <!--  <activity android:name=".util.IncarcareActivitate"></activity> -->
    </application>

</manifest>