<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.docta.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoadingActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginPageActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".LoginTeacherActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".PurchaseAvatarsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".RankingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".LoginStudentActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".SignUpStudentActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".DailyQuestionActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".QuestionsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".LearningCategoryActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ListStudentsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".HomePageActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".FeedbackActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ResultActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".LetsLearnActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".LetsPlayActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".SettingsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".SetDesignActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".StudentSettingsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".HelpActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".MyAvatarsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".TasksActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".AddTaskActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ShowImageActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>