<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.docta.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".IntrebariActivitate">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AutentificareElevActivitate"></activity>
        <activity android:name=".AutentificareProfesorActivitate"></activity>
        <activity android:name=".AvatareActivitate"></activity>
        <activity android:name=".ClasamentElevActivitate"></activity>
        <activity android:name=".ClasamentProfesorActivitate"></activity>
        <activity android:name=".ContElevActivitate"></activity>
        <activity android:name=".CreareContElevActivitate"></activity>
        <activity android:name=".IntrebareaZileiActivitate"></activity>

        <activity android:name=".InvatamCategorieActivitate"></activity>
        <activity android:name=".ListaEleviActivitate"></activity>
        <activity android:name=".PaginaPrincipalaJocActivitate"></activity>
        <activity android:name=".PareriActivitate"></activity>
        <activity android:name=".RezultatActivitate"></activity>
        <activity android:name=".SaInvatamActivitate"></activity>
        <activity android:name=".SaNeJucamActivitate"></activity>
        <activity android:name=".SetariActivitate"></activity>
        <activity android:name=".SetariDesignActivitate"></activity>
        <activity android:name=".SetariElevActivitate"></activity>

    </application>

</manifest>